<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/attachment/",
  title: "アタッチメント | フレックスアーム FAW | CKD株式会社",
  keywords: "フレックスアーム,助力装置,バランサ,アタッチメント, フック,材料袋, 段ボール,一斗缶,ロール,コンテナ,ばんじゅう",
  description: "フレックスアームの先端に取り付けられるアタッチメント例をご紹介します。"}); 
  %>

<body id="attachment">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">アタッチメント例</h1>
      <p class="common-main-visual__lead">フレックスアームで使用可能なアタッチメントの一部をご紹介します。</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">機器商品TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">フレックスアーム</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">アタッチメント例</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section class="attachment">
      <div class="l-inner">
        <p class="attachment__lead">
          フレックスアームの先端には、標準で吊り下げ式フックを装備しています。<br>
          吊り下げ式フックにさまざまなアタッチメントを取り付けることで、多様なワークに対応ができます。<br>
          ごく一部ではありますが、代表的なアタッチメント例をご紹介します。<br>
          掲載以外のアタッチメントについてもご相談可能です。お気軽にお問い合わせください。
        </p>
        <h2 class="attachment__title">アタッチメントの種類</h2>
        <ul class="attachment__link-list">
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal01" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">
                    吊り下げ式フック<br>
                    (標準)
                  </h3>
                  <p class="attachment__link-text">吊り下げ式フックにさまざまなアタッチメントを取付けし、多様なワークに対応可能です。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_01.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">動画はこちら</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal02" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">袋吸着用</h3>
                  <p class="attachment__link-text">材料袋など最大30kgの袋を吸着搬送するのに最適です。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_02.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">動画はこちら</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal03" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">段ボール吸着用</h3>
                  <p class="attachment__link-text">最大30kgまでの段ボール箱を吸着搬送するのに最適です。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_03.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">動画はこちら</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap no-hover">
            <span class="common__content-link-btn no-movie">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">一斗缶用吸着用</h3>
                  <p class="attachment__link-text">最大25kgまでの一斗缶などを吸着搬送するのに最適です。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_04.jpg" alt="">
                </figure>
              </div>
            </span>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal04" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">一斗缶用フック</h3>
                  <p class="attachment__link-text">最大25kgまでの一斗缶などをフックで搬送するのに最適です。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_05.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">動画はこちら</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap no-hover">
            <span class="common__content-link-btn no-movie">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">ロール内径クランプ用</h3>
                  <p class="attachment__link-text">
                    包装材などロール状のワークを搬送するのに最適です。<br>
                    ロール穴に差し込んでクランプをして搬送します。
                  </p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_06.jpg" alt="">
                </figure>
              </div>
            </span>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal05" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">コンテナ用クランプ</h3>
                  <p class="attachment__link-text">食品用ばんじゅうなど薄型の運搬用コンテナなどを搬送するのに最適です。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_07.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">動画はこちら</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal06" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">マグネット吸着</h3>
                  <p class="attachment__link-text">
                    フックの先にマグネットを取り付け、鉄製のワークを吸着搬送することができます。<br>
                    円形の鉄部品も吸着可能です。
                  </p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_08.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">動画はこちら</div>
            </a>
          </li>
        </ul>
        <p class="attachment__note">※お客様のご要望に合わせて仕様を決めるため、最大搬送重量や外観等は変更の可能性がございます。</p>
      </div>

    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>
  <div id="modal01" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "2MuXdrXRL04"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal02" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "NCkjgCsUhmM"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal03" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "ENG4C3DjNN0"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal04" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "c6oDtuSFSvg"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal05" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "3R4cqsYp2Yg"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal06" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "mSg_EkIpVxA"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>