<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/attachment/",
  title: "アタッチメント | 高自由度助力臂 FAW | CKD株式会社",
  keywords: "高自由度助力臂,助力装置,バランサ,アタッチメント, フック,材料袋, 段ボール,一斗缶,ロール,コンテナ,ばんじゅう",
  description: "フレックスアームの先端に取り付けられるアタッチメント例をご紹介します。"}); 
  %>

<body id="attachment">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">附件示例</h1>
      <p class="common-main-visual__lead">下面介绍高自由度助力臂的附件。</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">元件产品首页</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">高自由度助力臂</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">附件示例</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section class="attachment">
      <div class="l-inner">
        <p class="attachment__lead">
          高自由度助力臂前端标配吊装式挂钩。<br>
          通过在吊装式挂钩上安装各种附件，可适用于多种工件。<br>
          介绍代表性的附件示例。<br>
          如果您需要定制附件，请随时与本公司联系。
        </p>
        <h2 class="attachment__title">附件的种类</h2>
        <ul class="attachment__link-list">
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal01" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">
                    吊装式挂钩<br>
                    （标准）
                  </h3>
                  <p class="attachment__link-text">在吊装式挂钩上安装各种附件，可适用于多种工件。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_01.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">视频</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal02" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">袋吸附用</h3>
                  <p class="attachment__link-text">适用于吸附搬送材料袋等最大30kg的袋。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_02.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">视频</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal03" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">纸箱吸附用</h3>
                  <p class="attachment__link-text">适用于吸附搬送最大30kg的纸箱。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_03.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">视频</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap no-hover">
            <span class="common__content-link-btn no-movie">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">油罐吸附用</h3>
                  <p class="attachment__link-text">适用于吸附搬送最大25kg的油罐等。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_04.jpg" alt="">
                </figure>
              </div>
            </span>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal04" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">油罐挂钩</h3>
                  <p class="attachment__link-text">适用于使用挂钩搬送最大25kg的油罐等产品。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_05.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">视频</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap no-hover">
            <span class="common__content-link-btn no-movie">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">辊内径夹紧用</h3>
                  <p class="attachment__link-text">
                    适用于搬送包装材料等卷状工件。<br>
                    插入辊孔进行夹紧搬送。
                  </p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_06.jpg" alt="">
                </figure>
              </div>
            </span>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal05" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">容器用夹紧</h3>
                  <p class="attachment__link-text">适用于搬送食品包装等薄型搬送用容器等。</p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_07.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">视频</div>
            </a>
          </li>
          <li class="attachment__link common__content-link-btn__wrap">
            <a data-target="modal06" class="common__content-link-btn common__js_modal_open" href="">
              <div class="attachment__link-flex-block">
                <div class="attachment__link-text-blk">
                  <h3 class="attachment__link-main-text">磁环吸附</h3>
                  <p class="attachment__link-text">
                    可在挂钩的前端安装磁环，吸附搬送铁制工件。圆形铁部件也可吸附。<br>
                    圆形铁部件也可吸附。
                  </p>
                </div>
                <figure class="attachment__link-image">
                  <img src="../assets/images/attachment/link_img_08.jpg" alt="">
                </figure>
              </div>
              <div class="attachment__link-btn">视频</div>
            </a>
          </li>
        </ul>
        <p class="attachment__note">※根据客户的需求，规格，最大搬送重量、外观等可能出现变更。</p>
      </div>

    </section>
  </main>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>
  <div id="modal01" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie.ejs', {poster: "assets/images/attachment/movie_thumb_01.jpg", filePath: "https://ckd.co-site.jp/ad/movie/kiki/sc/faw/1920-1080_FAW_hook_sc_disclaimer.mp4",path: "../"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal02" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie.ejs', {poster: "assets/images/attachment/movie_thumb_02.jpg", filePath: "https://ckd.co-site.jp/ad/movie/kiki/sc/faw/1920-1080_FAW_bag_sc_disclaimer.mp4",path: "../"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal03" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie.ejs', {poster: "assets/images/attachment/movie_thumb_03.jpg", filePath: "https://ckd.co-site.jp/ad/movie/kiki/sc/faw/1920-1080_FAW_cardboard_sc_disclaimer.mp4",path: "../"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal04" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie.ejs', {poster: "assets/images/attachment/movie_thumb_04.png", filePath: "https://ckd.co-site.jp/ad/movie/kiki/sc/faw/1920_1080_FAW_hook2_sc_disclaimer.mp4",path: "../"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal05" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie.ejs', {poster: "assets/images/attachment/movie_thumb_05.png", filePath: "https://ckd.co-site.jp/ad/movie/kiki/sc/faw/1920_1080_FAW_clamp_sc_disclaimer.mp4",path: "../"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <div id="modal06" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie.ejs', {poster: "assets/images/attachment/movie_thumb_06.jpg", filePath: "https://ckd.co-site.jp/ad/movie/kiki/sc/faw/1920-1080_FAW_magnet_sc_disclaimer.mp4",path: "../"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>