<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/feature/",
  title: "FAW特点 | 高自由度助力臂 FAW | CKD株式会社",
  keywords: "高自由度助力臂,助力装置,バランサ,作業負担軽減, コンパクト",
  description: "フレックスアームは、「働く人のために」をコンセプトに、職場での作業負担軽減と作業者の安全確保に貢献する「ヒューマンアシスト製品」です。"}); 
  %>

<body id="feature">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">高自由度助力臂的特点</h1>
      <p class="common-main-visual__lead">可广泛用于狭窄的场所。</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">機器商品TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">高自由度助力臂</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">高自由度助力臂的特点</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section id="three-feature" class="feature">
      <div class="l-inner">
        <ul class="feature__anchor-links">
          <li><a href="#three-feature">3大特点</a></li>
          <li><a href="#chart">助力装置对比表</a></li>
          <li><a href="#line-up">选择项 </a></li>
        </ul>
        <p class="feature__top-lead--l">「フレックスアーム」は、</p>
        <p class="feature__top-lead">
          高自由度助力臂是工作范围广，可搬送重量50㎏的空压平衡器。<br>
          可安装在柱体和天花板上，为天花板较低的场所或空间有限的场所提供灵活性。<br>
          适用于以前难以部署助力装置的场所，有助于提高作业效率。
        </p>
        <h2 class="feature__title">
          高自由度助力臂是工作范围广，可搬送重量50㎏的空压平衡器。
        </h2>
        <ul class="common-feature__list feature__list">
          <li class="common-feature__item">
            <a href="#box01">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">01</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Simple</h3>
                  <div class="common-feature__card-img -img01"><img src="../assets/images/feature_img_01.png?240920" alt="フレキシブルで軽い操作感"></div>
                </div>
                <p class="common-feature__card-lead">可安装在柱体和天花板上，<br>为天花板较低的场所或空间有限的场所提供灵活性。</p>
              </div>
            </a>
          </li>
          <li class="common-feature__item">
            <a href="#box02">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">02</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Wide</h3>
                  <div class="common-feature__card-img -img02"><img src="../assets/images/feature_img_02.png?240920" alt="コンパクトで取り付けが簡単"></div>
                </div>
                <p class="common-feature__card-lead">活动范围广，<br>高度低</p>
              </div>
            </a>
          </li>
          <li class="common-feature__item">
            <a href="#box03">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">03</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Safety</h3>
                  <div class="common-feature__card-img -img03"><img src="../assets/images/feature_img_03.png?240920" alt="安全機構により誰でも安全に使用可能"></div>
                </div>
                <p class="common-feature__card-lead">誰でも安全に<br>使用可能</p>
              </div>
            </a>
          </li>
        </ul>

        <!-- POINT01 -->
        <div class="feature__article" id="point01">
          <div class="feature__box" id="box01">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">01</span>
              <span class="feature__box-text feature__box-text--m">Simple</span>
            </h3>
            <p class="feature__box-lead">结构简单、操作简单</p>
          </div>
          <p class="feature__point-txt">适用于以前难以部署助力装置的场所，有助于提高作业效率。</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">简单搬送重物</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">以压缩空气为动力源，最大可轻松搬送50kg的重物。</p>
                <div class="common-section__card-image  --image01">
                  <img src="../assets/images/feature/feature_list_img_01.png" alt="軽い操作性">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">工件重量检测系统</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  通过工件重量检测系统，可在可搬送重量范围内检测工件重量。<br>
                  重量不同的多个工件也能轻松平衡，任何人都能顺畅地进行作业。
                </p>
                <div class="common-section__card-image  --image02">
                  <img src="../assets/images/feature/feature_list_img_02.png" alt="水平アームと垂直ガイド">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">
                结构简单，<br>
                维护简单
              </h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">采用气缸的简单结构，维护简便，可实现稳定的动作。</p>
                <div class="common-section__card-image  --image03">
                  <img src="../assets/images/feature/feature_list_img_03.png" alt="上下任意位置でバランス">
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- POINT02 -->
        <div class="feature__article" id="point02">
          <div class="feature__box" id="box02">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">02</span>
              <span class="feature__box-text feature__box-text--m">Wide</span>
            </h3>
            <p class="feature__box-lead">活动范围广，高度最小</p>
          </div>
          <p class="feature__point-txt">可動範囲は広く、ストロークに対して全高が抑えられているため、限られたスペースでも柔軟に対応できます。</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">活动范围大</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">具有2.5m旋转半径、上下行程1.5m的大活动范围，1台设备即可覆盖宽广的工作区域。</p>
                <div class="common-section__card-image  --image04">
                  <img src="../assets/images/feature/feature_list_img_04.jpeg" alt="活动范围大">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">320°的大旋转范围</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  机械臂可旋转320°，灵活对应宽广的工作区域。<br>
                  此外，可在任意位置实施旋转限制，实现安全性与可操作性。
                </p>
                <div class="common-section__card-image  --image05">
                  <img src="../assets/images/feature/feature_list_img_05.jpeg" alt="320°的大旋转范围">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">可安装在天花板较低的场所</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  总高度低于2.5m，可轻松地安装在天花板较低的场所。<br>
                  ※高度因规格而异。
                </p>
                <div class="common-section__card-image  --image06">
                  <img src="../assets/images/feature/feature_list_img_06.jpg" alt="可安装在天花板较低的场所">
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        <!-- POINT03 -->
        <div class="feature__article" id="point03">
          <div class="feature__box" id="box03">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">03</span>
              <span class="feature__box-text feature__box-text--m">Safety</span>
            </h3>
            <p class="feature__box-lead">任何人都能安全使用</p>
          </div>
          <p class="feature__point-txt">采用注重安全性的设计，初次使用者也可安心使用。有助于降低现场风险。</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">全气动规格</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">采用无需电源的全气动规格，在防爆环境下也可安全使用。</p>
                <div class="common-section__card-image  --image07">
                  <img src="../assets/images/feature/feature_list_img_07.jpg" alt="全气动规格">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">防止空气切断时的坠落</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  即使切断供气时，遮蔽阀也会动作，从而立即停止。<br>
                  防止重物掉落，确保安全性。
                </p>
                <div class="common-section__card-image  --image08">
                  <img src="../assets/images/feature/feature_list_img_08.jpg" alt="防止空气切断时的坠落">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">防坠落功能</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  真空规格附件具有防止误操作的安全功能。<br>
                  万一进行误操作，也可防止重物坠落，提高作业安全性。
                </p>
                <div class="common-section__card-image  --image09">
                  <img src="../assets/images/feature/feature_list_img_09.png" alt="防坠落功能">
                </div>
              </div>
            </li>
          </ul>
  
          <div class="feature__movie-wrap">
            <%- include('../includes/component/_movie_youtube.ejs', {videoId: "nnUZU47-1c4"}); %>
          </div>
        </div>

        <div class="feature__link-btn-wrap common__link-btn-overlap">
          <a id="downloadLink02" class="feature__link-btn common__link-btn-overlap-btn -arrow common-arrow" href="https://www.ckd.co.jp/kiki/jp/product/detail/1078/">产品样本请点击此处</a>
          <div class="common__link-btn-bg"></div>
        </div>
      </div>
    </section>

    <section id="chart" class="chart">
      <div class="l-inner">
        <h2 class="chart__title">
          助力装置对比表
        </h2>
        <p class="chart__lead">总结了高自由度助力臂与其他助力装置的不同之处。</p>
        <div class="chart__table-wrapper">
          <table class="chart__table" border="2" style="border-collapse: collapse">
              <tr>
                  <th class="-topHeading column2" colspan="2"></th>
                  <th class="-topHeading">紧凑性</th>
                  <th class="-topHeading">移动性</th>
                  <th class="-topHeading">活动范围</th>
                  <th class="-topHeading">可搬送重量</th>
                  <th class="-topHeading">价格</th>
              </tr>
              <tr>
                  <th class="-heading">高自由度助力臂</th>
                  <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_01.png"></td>
                  <td class="">－</td>
                  <td class="">＋</td>
                  <td class="">＋</td>
                  <td class="">－</td>
                  <td class="">＋＋</td>
              </tr>
              <tr>
                <th class="-heading">臂式平衡器</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_02.png"></td>
                <td class="">－</td>
                <td class="">－</td>
                <td class="">＋</td>
                <td class="">＋＋</td>
                <td class="">－</td>
              </tr>
              <tr>
                <th class="-heading">卷扬式平衡器（升降）</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_03.png"></td>
                <td class="">
                  －
                  <span class="">（需要横向移动导轨时）</span>
                </td>
                <td class="">－</td>
                <td class="">
                  －－
                  <span class="">
                    (使用横向移动导轨时＋＋)
                  </span>
                </td>
                <td class="">＋</td>
                <td class="">
                  －
                  <span class="">（需要横向移动导轨时）</span>
                </td>
              </tr>
              <tr>
                <th class="-heading">动力套装</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_04.png"></td>
                <td class="">＋＋</td>
                <td class="">＋＋</td>
                <td class="">＋＋</td>
                <td class="">－－</td>
                <td class="">－</td>
              </tr>
              <tr>
                <th class="-heading">工业机器人</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_05.png"></td>
                <td class="">
                  －
                  <span class="">（需要栅栏等）</span>
                </td>
                <td class="">－</td>
                <td class="">＋</td>
                <td class="">＋</td>
                <td class="">－－</td>
              </tr>
          </table>
        </div>
        <p class="chart__table-note">*上述内容以常规为基准。不一定限于此。价格应包括安装费。</p>
      </div>
    </section>
    
    <section id="line-up" class="line-up">
      <div class="l-inner">
        <h2 class="line-up__title">选择项</h2>
        <p class="line-up__sub-title">4种安装方法</p>
        <p class="line-up__lead">
          高自由度助力臂主要有以下4种安装方法可供选择。<br>
          可根据现场环境和需求进行灵活安装。
        </p>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image01">
            <img src="../assets/images/feature/feature_line_up_img_01.png" alt="サイズL　低荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">地面固定</h3>
            <p class="line-up__block-text">
              安装地锚进行固定。<br>
              作业场所被固定，适用于地面安装的用途。
            </p>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image02">
            <img src="../assets/images/feature/feature_line_up_img_02.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">地面固定托盘</h3>
            <p class="line-up__block-text">
              安装时请使用角钢等固定地板<br>
              适用于多处使用以及今后可能变更安装场所的规格。<br>
              移动时假定使用叉车，如果考虑其它移动方法时，<br>
              请与本公司协商。
            </p>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image03">
            <img src="../assets/images/feature/feature_line_up_img_03.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">柱固定</h3>
            <p class="line-up__block-text">
              即使地面上无法确保安装空间，也可固定至规定的柱子上。<br>
              在不影响作业效率的情况下，进行高效的布局。<br>
              ※安装时，需要确认柱子的承受强度。
            </p>
            <div class="line-up__block-movie common-movie--small">
              <div class="common-movie-wrap">
                <a data-target="modal01" class="common__js_modal_open" href="">
                  <img src="../assets/images/feature/movie_thumb_02.png" alt="サムネイル">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image04">
            <img src="../assets/images/feature/feature_line_up_img_04.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">吊装固定</h3>
            <p class="line-up__block-text">
              如果地面上没有安装空间，可以将其固定至天花板上。<br>
              由于天花板的高度、强度、结构使得安装困难时，也可以灵活应对，如安装粗松或安装到导轨系统等。<br>
              ※安装时需要确认天花板承受强度。
            </p>
          </div>
        </div>
        <div class="line-up__block line-up__block--margin-large">
          <div class="line-up__image-block line-up__img-block--small --image05">
            <img src="../assets/images/feature/feature_line_up_img_05.png" alt="">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">臂前端附件</h3>
            <p class="line-up__block-text">
              高自由度助力臂前端为标配吊装式挂钩。<br>
              通过在吊装式挂钩上安装各种附件，可对应各种工件。<br>
              可根据客户的需要进行定制。
            </p>
            <div class="line-up__block__link-btn-wrap common__link-btn-overlap">
              <a class="line-up__block__link-btn common__link-btn-overlap-btn -arrow common-arrow" href="../attachment/">关于附件</a>
              <div class="common__link-btn-bg"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div id="modal01" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "ynzve5fqDG4"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>