<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/feature/",
  title: "FAWの特徴 | フレックスアーム FAW | CKD株式会社",
  keywords: "フレックスアーム,助力装置,バランサ,作業負担軽減, コンパクト",
  description: "フレックスアームは、「働く人のために」をコンセプトに、職場での作業負担軽減と作業者の安全確保に貢献する「ヒューマンアシスト製品」です。"}); 
  %>

<body id="feature">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">フレックスアームの特徴</h1>
      <p class="common-main-visual__lead">狭い現場で広く使える。</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/jp/" target="_blank">
            <span itemprop="name">機器商品TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">フレックスアーム</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">フレックスアームの特徴</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section id="three-feature" class="feature">
      <div class="l-inner">
        <ul class="feature__anchor-links">
          <li><a href="#three-feature">3つの特徴</a></li>
          <li><a href="#chart">助力装置比較表</a></li>
          <li><a href="#line-up">オプション </a></li>
        </ul>
        <p class="feature__top-lead--l">「フレックスアーム」は、</p>
        <p class="feature__top-lead">
          フレックスアームは、広い作業範囲を持ち、定格可搬質量50㎏に対応したエアバランサです。<br>
          柱や天井への取り付けが可能で、低天井や床スペースが限られた現場にも柔軟に対応できます。<br>
          これまで助力装置の導入が難しかった現場にも適応し、作業の効率化や現場改善に貢献します。
        </p>
        <h2 class="feature__title">
          助力装置「フレックスアーム」の特徴
        </h2>
        <ul class="common-feature__list feature__list">
          <li class="common-feature__item">
            <a href="#box01">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">01</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Simple</h3>
                  <div class="common-feature__card-img -img01"><img src="../assets/images/feature_img_01.png?240920" alt="フレキシブルで軽い操作感"></div>
                </div>
                <p class="common-feature__card-lead">シンプルな構造・<br>簡単な操作</p>
              </div>
            </a>
          </li>
          <li class="common-feature__item">
            <a href="#box02">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">02</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Wide</h3>
                  <div class="common-feature__card-img -img02"><img src="../assets/images/feature_img_02.png?240920" alt="コンパクトで取り付けが簡単"></div>
                </div>
                <p class="common-feature__card-lead">可動範囲は広く、<br>高さは最小限</p>
              </div>
            </a>
          </li>
          <li class="common-feature__item">
            <a href="#box03">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">03</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Safety</h3>
                  <div class="common-feature__card-img -img03"><img src="../assets/images/feature_img_03.png?240920" alt="安全機構により誰でも安全に使用可能"></div>
                </div>
                <p class="common-feature__card-lead">誰でも安全に<br>使用可能</p>
              </div>
            </a>
          </li>
        </ul>

        <!-- POINT01 -->
        <div class="feature__article" id="point01">
          <div class="feature__box" id="box01">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">01</span>
              <span class="feature__box-text feature__box-text--m">Simple</span>
            </h3>
            <p class="feature__box-lead">シンプルな構造・簡単な操作</p>
          </div>
          <p class="feature__point-txt">直感的に使える構造で、誰でもすぐに扱えます。複雑な操作や調整は不要です。</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">重量物を簡単搬送</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">圧縮エアを動力源に使用し、最大50㎏(アタッチメント重量を含む)までの重量物を、軽い操作でワークを保持しながら作業できます。</p>
                <div class="common-section__card-image  --image01">
                  <img src="../assets/images/feature/feature_list_img_01.png" alt="軽い操作性">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">ワーク重量検知システム</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  ワーク重量検知システムにより、可搬質量内であればワークの重量を検知可能。<br>
                  重量が異なる複数のワークでも簡単にバランスが取れ、誰でもスムーズに作業が行えます。
                </p>
                <div class="common-section__card-image  --image02">
                  <img src="../assets/images/feature/feature_list_img_02.png" alt="水平アームと垂直ガイド">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">
                シンプルな構造で<br>
                メンテナンスも簡単
              </h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">エアシリンダを採用したシンプルな構造により、メンテナンスも容易で、安定した動作を実現。</p>
                <div class="common-section__card-image  --image03">
                  <img src="../assets/images/feature/feature_list_img_03.png" alt="上下任意位置でバランス">
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- POINT02 -->
        <div class="feature__article" id="point02">
          <div class="feature__box" id="box02">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">02</span>
              <span class="feature__box-text feature__box-text--m">Wide</span>
            </h3>
            <p class="feature__box-lead">可動範囲は広く、高さは最小限</p>
          </div>
          <p class="feature__point-txt">可動範囲は広く、ストロークに対して全高が抑えられているため、限られたスペースでも柔軟に対応できます。</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">広い可動範囲</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">旋回半径2.5m、上下ストローク1.5mの広い可動範囲により、広範囲にわたる作業エリアを1台でカバーできます。</p>
                <div class="common-section__card-image  --image04">
                  <img src="../assets/images/feature/feature_list_img_04.jpeg" alt="広い可動範囲">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">320°の広い回転範囲</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  アームは最大320°まで回転可能で、広範囲な作業エリアに柔軟に対応します。<br>
                  また任意の位置で、回転規制をかけることもでき、安全性や作業性に配慮した運用が可能です。
                </p>
                <div class="common-section__card-image  --image05">
                  <img src="../assets/images/feature/feature_list_img_05.jpeg" alt="320°の広い回転範囲">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">低天井エリアにも設置可能</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  全高が2.5mと低く、天井の低い現場にも無理なく設置が可能です。<br>
                  ※仕様により高さは異なります。
                </p>
                <div class="common-section__card-image  --image06">
                  <img src="../assets/images/feature/feature_list_img_06.jpg" alt="低天井エリアにも設置可能">
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        <!-- POINT03 -->
        <div class="feature__article" id="point03">
          <div class="feature__box" id="box03">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">03</span>
              <span class="feature__box-text feature__box-text--m">Safety</span>
            </h3>
            <p class="feature__box-lead">誰でも安全に使用可能</p>
          </div>
          <p class="feature__point-txt">安全性を重視した設計で、初めての方でも安心して使用できます。現場のリスク軽減にも貢献します。</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">オールエア仕様</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">電源を必要としないオールエア仕様のため、防爆を求められる現場でも安全に使用可能です。</p>
                <div class="common-section__card-image  --image07">
                  <img src="../assets/images/feature/feature_list_img_07.jpg" alt="オールエア仕様">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">エア遮断時の落下防止</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  エア供給が遮断された場合でも、遮断弁が作動し、その場で停止。<br>
                  重量物の落下を防止し、安全性を確保します。
                </p>
                <div class="common-section__card-image  --image08">
                  <img src="../assets/images/feature/feature_list_img_08.jpg" alt="エア遮断時の落下防止">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">落下防止機能</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  真空仕様アタッチメントには誤操作によるボタンの押し間違えを防ぐ安全機能を搭載。<br>
                  万一の誤操作でも重量物の落下を防止し、作業の安全性を高めます。
                </p>
                <div class="common-section__card-image  --image09">
                  <img src="../assets/images/feature/feature_list_img_09.png" alt="落下防止機能">
                </div>
              </div>
            </li>
          </ul>
  
          <div class="feature__movie-wrap">
            <%- include('../includes/component/_movie_youtube.ejs', {videoId: "nnUZU47-1c4"}); %>
          </div>
        </div>

        <div class="feature__link-btn-wrap common__link-btn-overlap">
          <a id="downloadLink02" class="feature__link-btn common__link-btn-overlap-btn -arrow common-arrow" href="https://www.ckd.co.jp/kiki/jp/product/detail/1078/">カタログはこちら</a>
          <div class="common__link-btn-bg"></div>
        </div>
      </div>
    </section>

    <section id="chart" class="chart">
      <div class="l-inner">
        <h2 class="chart__title">
          助力装置比較表
        </h2>
        <p class="chart__lead">フレックスアームと一緒によく検討される助力装置について<br class="sp">特徴の違いをまとめました。</p>
        <div class="chart__table-wrapper">
          <table class="chart__table" border="2" style="border-collapse: collapse">
              <tr>
                  <th class="-topHeading column2" colspan="2"></th>
                  <th class="-topHeading">コンパクト性</th>
                  <th class="-topHeading">移動性</th>
                  <th class="-topHeading">稼働範囲</th>
                  <th class="-topHeading">可搬重量</th>
                  <th class="-topHeading">価格</th>
              </tr>
              <tr>
                  <th class="-heading">フレックスアーム</th>
                  <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_01.png"></td>
                  <td class="">△</td>
                  <td class="">〇</td>
                  <td class="">〇</td>
                  <td class="">△</td>
                  <td class="">◎</td>
              </tr>
              <tr>
                <th class="-heading">アーム式バランサ</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_02.png"></td>
                <td class="">△</td>
                <td class="">△</td>
                <td class="">〇</td>
                <td class="">◎</td>
                <td class="">△</td>
              </tr>
              <tr>
                <th class="-heading">巻き上げ式バランサ</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_03.png"></td>
                <td class="">
                  △
                  <span class="">(走行・横行レール必要な場合)</span>
                </td>
                <td class="">△</td>
                <td class="">
                  ×
                  <span class="">
                    (走行・横行レール<br>使用すれば◎)
                  </span>
                </td>
                <td class="">〇</td>
                <td class="">
                  △
                  <span class="">(走行・横行レール必要な場合)</span>
                </td>
              </tr>
              <tr>
                <th class="-heading">パワードスーツ</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_04.png"></td>
                <td class="">◎</td>
                <td class="">◎</td>
                <td class="">◎</td>
                <td class="">×</td>
                <td class="">△</td>
              </tr>
              <tr>
                <th class="-heading">産業用ロボット</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_05.png"></td>
                <td class="">
                  △
                  <span class="">（柵など必要）</span>
                </td>
                <td class="">△</td>
                <td class="">〇</td>
                <td class="">〇</td>
                <td class="">×</td>
              </tr>
          </table>
        </div>
        <p class="chart__table-note">＊上記は一般的なものを基準に想定しております。必ずしもこの限りではありません。価格は設置費を含むとする。</p>
      </div>
    </section>
    
    <section id="line-up" class="line-up">
      <div class="l-inner">
        <h2 class="line-up__title">オプション</h2>
        <p class="line-up__sub-title">4種類の据え付け方法</p>
        <p class="line-up__lead">
          フレックスアームは、主に以下の４つの据え付け方法を選択できます。<br>
          現場の環境やニーズに合わせて、柔軟な設置が可能です。
        </p>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image01">
            <img src="../assets/images/feature/feature_line_up_img_01.png" alt="サイズL　低荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">床置き固定</h3>
            <p class="line-up__block-text">
              アンカーで床に据え付けて使用します。<br>
              作業場所が固定されており、床に据付可能な場所に最適な仕様で、最も多く採用されています。
            </p>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image02">
            <img src="../assets/images/feature/feature_line_up_img_02.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">床置きパレット</h3>
            <p class="line-up__block-text">
              設置時はアングル等で床と固定します。<br>
              複数箇所での使用や、将来的に設置場所が変わる可能性がある場合に最適な仕様です。<br>
              移動時はフォークリフトの使用を想定していますが、<br>
              その他の移動方法をご検討の場合はご相談ください。
            </p>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image03">
            <img src="../assets/images/feature/feature_line_up_img_03.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">柱固定</h3>
            <p class="line-up__block-text">
              床に設置スペースが確保できない場合でも、近くに柱があれば設置可能な仕様です。<br>
              足元が広く使えるため、作業動線を妨げず、効率的なレイアウトが可能です。<br>
              ※設置にあたっては、柱の強度確認が必要となります。
            </p>
            <div class="line-up__block-movie common-movie--small">
              <div class="common-movie-wrap">
                <a data-target="modal01" class="common__js_modal_open" href="">
                  <img src="../assets/images/feature/movie_thumb_02.png" alt="サムネイル">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image04">
            <img src="../assets/images/feature/feature_line_up_img_04.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">天吊り固定</h3>
            <p class="line-up__block-text">
              足元に設置スペースが場所がない場合に、天井に固定する方法です。<br>
              天井の高さ・強度・構造により設置が難しい場合には、やぐらの設置やレールシステムへの取り付けといった柔軟な対応も可能です。<br>
              ※設置にあたっては、天井強度の確認が必要となります。
            </p>
          </div>
        </div>
        <div class="line-up__block line-up__block--margin-large">
          <div class="line-up__image-block line-up__img-block--small --image05">
            <img src="../assets/images/feature/feature_line_up_img_05.png" alt="">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">アーム先端アタッチメント</h3>
            <p class="line-up__block-text">
              フレックスアームの先端には、標準で吊り下げ式フックを装備。<br>
              吊り下げ式フックに各種アタッチメントを取り付けることで、さまざまなワークに対応ができます。<br>
              お客様の用途に応じたカスタマイズも可能です。
            </p>
            <div class="line-up__block__link-btn-wrap common__link-btn-overlap">
              <a class="line-up__block__link-btn common__link-btn-overlap-btn -arrow common-arrow" href="../attachment/">アタッチメントについてはこちら</a>
              <div class="common__link-btn-bg"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div id="modal01" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "ynzve5fqDG4"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>