
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THS5B6"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="header">
      <a class="header-fixedImg" href="https://www.ckd.co.jp/">
        <img src="<%= path %>assets/images/header_logo.svg" alt="">
      </a>
      <div class="header-inner">
        <a class="top-scroll pc" href="<%= path %>">コンテンツTOP</a>
        <a class="top-scroll sp" href="<%= path %>">コンテンツ<br>TOP</a>
        <a class="contact-btn" target="_blank" href="https://www.ckd-contact.com/form/96a4ca4f3c/input">お問い合わせ</a>
        <div id="nav-toggle">
          <div class="bar-wrap">
            <div class="bar _1"></div>
            <div class="bar _2"></div>
            <div class="bar _3"></div>
          </div>
        </div>
        <!-- <div id="jssideLine" class="sideLine"></div> -->
        <nav id="g-nav">
          <ul class="list">
            <li class="item arrow"><a href="<%= path %>">TOP</a></li>
            <li class="item arrow"><a href="<%= path %>feature/">FAWの特徴</a></li>
            <li class="item arrow"><a href="<%= path %>case/">事例集</a></li>
            <li class="item arrow"><a href="<%= path %>attachment/">アタッチメント例</a></li>
            <li class="item arrow"><a href="<%= path %>faq/">FAQ</a></li>
            <li class="item arrow"><a href="<%= path %>product/">関連商品</a></li>
            <li class="item lang">
                <a data-lang="/jp/" id="lang-jp" class="active c-en-bold js-lang-button" href="#">JP</a>
                <a data-lang="/en/" id="lang-en" class="c-en-bold js-lang-button" href="#">EN</a>
                <a data-lang="/sc/" id="lang-sc" class="c-en-bold js-lang-button" href="#">ZH</a>
            </li>
          </ul>
        </nav>
        <div id="nav-bg"></div>
      </div>
</header>
