<head>

  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="<%= keywords %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="">
  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" name="author" content="<%= title %>" />
  <meta property="og:description" name="description" content="<%= description %>" />
  <meta property="og:site_name" content="" />
  <meta property="og:image" content="" />
  <link rel="canonical" href="https://www.ckd.co.jp/kiki/jp/faw<%= url %>">
  <link rel="alternate" hreflang="jp" href="https://www.ckd.co.jp/kiki/jp/faw<%= url %>">
  <link rel="alternate" hreflang="en" href="https://www.ckd.co.jp/kiki/en/faw<%= url %>">
  <link rel="alternate" hreflang="zh-Hans" href="https://www.ckd.co.jp/kiki/sc/faw<%= url %>">
  <link rel="shortcut icon" href="https://www.ckd.co.jp/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap" rel="stylesheet">

  <script>
    (function(d) {
      var config = {
        kitId: 'eaa0acy',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <link rel="stylesheet" href="<%= path %>assets/css/style.css?250327"/>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-THS5B6');</script>
  <!-- End Google Tag Manager -->
</head>